.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo1{
  background-color: rgba(230,235,241,255);
  box-shadow: 10px 10px 10px rgb(5, 5, 5), -10px -10px 10px rgb(255, 255, 255);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  
}
.demo2{
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgb(5, 5, 5), -5px -5px 5px rgb(255, 255, 255);

}
.demo3{
  width: 289px;
  height: 51px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  border-radius: 30px;
  padding: 10px;
  box-shadow: inset 5px 5px 5px rgb(5, 5, 5), inset -5px -5px 5px rgb(255, 255, 255);

}
.demo4{
  background-color: transparent;
}